<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/httpVueLoader.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/vue-session.js"></script>
    <script src="js/axios.min.js"></script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>GreyCare</title>
</head>

<body>
    <div class="container-fluid" id="app">

        <div v-if="flag" class="row no-gutter content">
            <menusidebar v-bind:page="this"></menusidebar>
            <div>
                <barratitulo v-bind:nomeusuario="usuario.username"></barratitulo>
                <br>
            </div>
            <div v-show="mostraTabela && usuario.tipo === 'secretario'" style="color: white">
                <p style="padding-right: 10px; margin-bottom: 15.5px" id="cabecalho">&nbsp; Pacientes
                </p>

                <input class="input-lg col-md-7" type="text" placeholder="Pesquisar" name="nome"
                    style="width: 22; color: black; margin-left: 4%;" v-model="busca">
                <button type="button" class="btn btn-primary" value="Buscar" v-on:click="buscar()"
                    id="buscar">Buscar</button>
                <br> <br>
                <div class="col-md-9 col-sm-4 table-wrapper-scroll-y my-custom-scrollbar table-responsive">
                    <table class="table" style="margin-left: 5%; width:90%">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">CPF</th>
                                <th scope="col">Telefone</th>
                                <th scope="col">E-mail</th>
                                <th scope="col">CEP</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="paciente in pacientes">
                                <td scope="row">{{paciente.nome}}</td>
                                <td scope="row">{{paciente.cpf}}</td>
                                <td scope="row">{{paciente.telefone}}</td>
                                <td scope="row">{{paciente.email}}</td>
                                <td scope="row">{{paciente.cep}}</td>
                                <td scope="row"> <button type="button" class="btn btn-primary" id="myBtn"
                                        v-on:click="mostrarPaciente(paciente)"><i class=" fas fa-eye"></i></button>
                                </td>
                                <td scope="row"><button type="button" class="btn btn-warning" id="myBtnP"
                                        v-on:click="editarPaciente(paciente)">
                                        <i class="fas fa-edit"></i></button></a>
                                </td>
                                <td scope="row"> <button type="button" class="btn btn-danger"
                                        v-on:click="apagarPaciente(paciente)">
                                        <i class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                </div>

            </div>
            <!-- Modal do Ver Paciente -->
            <div id="myModal" class="modal">

                <!-- Conteúdo do Modal -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                        <h2>Informações de Paciente</h2>
                    </div>
                    <div class="modal-body">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>Nome: {{paciente.nome}}</td>
                                    <td>CPF: {{paciente.cpf}}</td>
                                    <td colspan="1">Data de Nascimento: {{paciente.nascimento}}</td>
                                </tr>
                                <tr>
                                    <td colspan="1">Telefone: {{paciente.telefone}}</td>
                                    <td colspan="1">Endereço: {{paciente.endereco}}</td>
                                    <td>E-mail: {{paciente.email}}</td>
                                </tr>
                                <tr>
                                    <td>Estado Civil: {{paciente.estadoCivil}}</td>
                                    <td>Alergias: {{paciente.alergias}}</td>
                                    <td> Doador de Sangue: {{paciente.doador}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Modal do alterar meus dados -->
            <div id="usuarioModal" class="modal">

                <!-- Conteúdo do Modal -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                        <h2>Editar Usuário</h2>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger " role="alert" v-if="errors.length">
                            <ul>
                                <li v-for="error in errors">{{ error }}</li>
                            </ul>
                        </div>
                        <div class="input-group" style="color:darkgray; margin-left: 7%;">
                            <span class="input-group-addon" id="basic-addon1">Senha/Nova Senha:</span>
                            <input type="password" class="form-control" name="senha" id="senha" style="width: 60%"
                                v-model="usuario.senha">
                        </div>
                        <div class="input-group" style="color:darkgray; margin-left: 7%; margin-top: 1%;">
                            <span class="input-group-addon" id="basic-addon1">Confirmar Senha/Nova Senha:</span>
                            <input type="password" class="form-control" name="confsenha" id="confsenha"
                                style="width: 60%" v-model="usuario.confSenha">
                        </div>
                        <div class="input-group" style="color:darkgray; margin-left: 7%; margin-top: 1%;">
                            <span class="input-group-addon" id="basic-addon1">Email:</span>
                            <input type="email" class="form-control" name="email" id="email" value={{usuario.email}}
                                style="width: 60%" v-model="usuario.email">
                        </div>
                        <div class="input-group" style="color:darkgray; margin-left: 7%; margin-top: 1%;">
                            <span class="input-group-addon" id="basic-addon1">Nome Completo:</span>
                            <input type="text" class="form-control" name="nome" id="nome" value={{usuario.nome}}
                                style="width: 60%" v-model="usuario.nome">
                        </div>
                        <div class="input-group" style="color:darkgray; margin-left: 7%; margin-top: 1%;"
                            v-if="usuario.tipo === 'medico'">
                            <span class="input-group-addon" id="basic-addon1">Especialidade:</span>
                            <input type="text" class="form-control" name="especialidade" id="especialidade"
                                value={{usuario.especialidade}} style="width: 60%" v-model="usuario.especialidade">
                        </div>
                        <div class="input-group " style="color:darkgray; margin-left: 7%; margin-top: 1%;">
                            <span class="input-group-addon" id="basic-addon1">Telefone:</span>
                            <input type="text" class="form-control" name="telefone" id="telefone"
                                value={{usuario.telefone}} style="width: 60%" v-model="usuario.telefone">
                        </div>
                        <br><br>
                        <div class="btn-group-horizontal text-center">
                            <button class="btn btn-primary" type="button" @click="checkFormUsuario"
                                style="width: 150px; height: 50px; font-size: 20px">Salvar Dados</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal do editar paciente-->
            <div id="pacienteModal" class="modal">

                <!-- Conteúdo do Modal -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                        <h2>Editar Paciente</h2>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger " role="alert" v-if="errors.length">
                            <ul>
                                <li v-for="error in errors">{{ error }}</li>
                            </ul>
                        </div>
                        <div class="input-group" style="color:darkgray; margin-left: 7%; margin-top: 1%;">
                            <span class="input-group-addon" id="basic-addon1">Nome Completo*:</span>
                            <input type="text" class="form-control" name="nomePaciente" id="nomePaciente"
                                value={{paciente.nome}} style="width: 60%" v-model="paciente.nome">
                        </div>
                        <div class="input-group" style="color:darkgray; margin-left: 7%; margin-top: 1%;">
                            <span class="input-group-addon" id="basic-addon1">Email:</span>
                            <input type="email" class="form-control" name="emailPaciente" id="emailPaciente"
                                value={{paciente.email}} style="width: 60%" v-model="paciente.email">
                        </div>
                        <div class="input-group " style="color:darkgray; margin-left: 7%; margin-top: 1%">
                            <span class="input-group-addon" id="basic-addon1">Telefone*:</span>
                            <input type="text" class="form-control" name="telefonePaciente" id="telefonePaciente"
                                value={{paciente.telefone}} style="width: 60%" v-model="paciente.telefone">
                        </div>
                        <div class="input-group" style="color:darkgray; margin-left: 7%; margin-top: 1%;">
                            <span class="input-group-addon" id="basic-addon1">Endereço*:</span>
                            <input type="text" class="form-control" name="enderecoPaciente" id="enderecoPaciente"
                                value={{paciente.endereco}} style="width: 60%" v-model="paciente.endereco">
                        </div>
                        <div class="input-group" style="color:darkgray; margin-left: 7%; margin-top: 1%;">
                            <span class="input-group-addon" id="basic-addon1">CEP*:</span>
                            <input type="text" class="form-control" name="cepPaciente" id="cepPaciente"
                                value={{paciente.cep}} style="width: 60%;" v-model="paciente.cep">
                        </div>
                        <div class="input-group" style="color:darkgray; margin-left: 7%; margin-top: 1%;">
                            <span class="input-group-addon" id="basic-addon1">Estado Civil:</span>
                            <select class="form-control" name="estadoCivilPaciente" id="estadoCivilPaciente"
                                style="width: 60%" v-model="paciente.estadoCivil">
                                <option value="solteiro">Solteiro(a)</option>
                                <option value="casado">Casado(a)</option>
                            </select>
                        </div>
                        <div class="input-group" style="color:darkgray; margin-left: 7%; margin-top: 1%;">
                            <span class="input-group-addon" id="basic-addon1">Alergias*:</span>
                            <textarea class="form-control" name="alergias" id="alergias" value={{paciente.alergias}}
                                v-model="paciente.alergias">
                            </textarea>
                        </div>

                        <br><br>
                        <div class="btn-group-horizontal text-center">
                            <button class="btn btn-primary" type="button" @click="checkFormPacientes"
                                style="width: 150px; height: 50px; font-size: 20px">Salvar Dados</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var MenuSidebar = httpVueLoader('./components/menu/menu.vue')
        var BarraTitulo = httpVueLoader('./components/barra-titulo/barra-titulo.vue')
        var app = new Vue({
            el: "#app",
            components: {
                menusidebar: MenuSidebar,
                barratitulo: BarraTitulo,

            },
            data: {
                url: "http://localhost:8080/api/pacientes",
                urlUsers: "http://localhost:8080/api/users",
                paciente: {},
                pacientes: [],
                flag: false,
                mostraTabela: false,
                mostraPaciente: false,
                usuario: {},
                flagSair: false,
                flagLogin: true,
                busca: '',
                errors: []
            },
            created() {
                if (!this.$session.exists()) {
                    location.href = "login.html";
                } else {
                    this.usuario = JSON.parse(this.$session.get('user'));
                    this.flag = true;
                }
                vm = this;
                axios.get(this.url).then(function (r) {
                    vm.pacientes = r.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            methods: {
                getPacientes: function () {
                    vm = this;
                    axios.get(this.url).then(function (r) {
                        vm.pacientes = r.data;
                    }).catch(function (error) {
                        console.log(error);
                    });
                },
                buscar: function () {
                    vm = this;
                    console.log(this.busca);
                    axios.get(this.url + "/search/?nome=" + this.busca).then(function (r) {
                        console.log(r.data);
                        vm.pacientes = r.data;
                    }).catch(function (error) {
                        console.log(error);
                    })
                },
                apagarPaciente: function (paciente) {
                    vm = this;
                    axios.delete('http://localhost:8080/api/pacientes/' + paciente.id)
                        .then(function (response) {
                            vm.getPacientes();
                        }).catch(function (error) {
                            console.log(error);
                        });
                },
                mostrarPacientes: function () {
                    this.mostraTabela = true;
                },
                mostrarPaginaInicial: function () {
                    this.mostraTabela = true;
                },
                mostrarPaciente: function (paciente) {
                    this.paciente = paciente;
                    //Recebe o Modal
                    var modal = document.getElementById("myModal");

                    // Recebe o botão que abre o modal
                    var btn = document.getElementById("myBtn");

                    //Recebe a tag span que fecha o Modal
                    var span = document.getElementsByClassName("close")[0];

                    modal.style.display = "block";

                    //Fecha o Modal ao clicar no x
                    span.onclick = function () {
                        modal.style.display = "none";
                    }

                    //Quando clicar em qualquer lugar fora do Modal ele é fechado
                    window.onclick = function (event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                },
                mostrarUsuario: function (usuario) {
                    this.usuario = usuario;
                    //Recebe o Modal
                    var modal = document.getElementById("usuarioModal");

                    //Recebe a tag span que fecha o Modal
                    var span = document.getElementsByClassName("close")[0];

                    modal.style.display = "block";

                    //Fecha o Modal ao clicar no x
                    span.onclick = function () {
                        modal.style.display = "none";
                    }

                    //Quando clicar em qualquer lugar fora do Modal ele é fechado
                    window.onclick = function (event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                },
                editarPaciente: function (paciente) {
                    this.paciente = paciente;
                    //Recebe o Modal
                    var modal = document.getElementById("pacienteModal");

                    // Recebe o botão que abre o modal
                    var btn = document.getElementById("myBtnP");

                    //Recebe a tag span que fecha o Modal
                    var span = document.getElementsByClassName("close")[0];

                    modal.style.display = "block";

                    //Fecha o Modal ao clicar no x
                    span.onclick = function () {
                        modal.style.display = "none";
                    }

                    //Quando clicar em qualquer lugar fora do Modal ele é fechado
                    window.onclick = function (event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                },
                salvarPaciente() {
                    console.log(this.paciente);
                    let formData = new FormData();
                    formData.append('nome', this.paciente.nomePaciente);
                    formData.append('cpf', this.paciente.cpfPaciente);
                    formData.append('nascimento', this.paciente.nascimentoPaciente);
                    formData.append('telefone', this.paciente.telefonePaciente);
                    formData.append('estadoCivil', this.paciente.estadoCivilPaciente);
                    formData.append('endereco', this.paciente.enderecoPaciente);
                    formData.append('cep', this.paciente.cepPaciente);
                    formData.append('email', this.paciente.emailPaciente);
                    formData.append('alergias', this.paciente.alergiasPaciente);
                    formData.append('tipoSanguineo', this.paciente.tipoSanguineoPaciente);
                    formData.append('doador', this.paciente.doadorPaciente);
                    vm = this;
                    axios.put(this.url + '/' + this.paciente.id,
                        formData, {
                            headers: {
                                'Content-Type': 'multipart/form-data',

                            }
                        }
                    ).then(function (r) {
                        alert('Paciente salvo com sucesso!')
                        console.log(r.data);

                    }).catch(function (error) {
                        console.log(error);
                    });
                },
                checkFormPacientes: function (e) {
                    this.errors = [];

                    if (!this.paciente.nome) {
                        this.errors.push('O nome é obrigatório.');
                    }
                    if (!this.paciente.cpf && this.paciente.cpf.length !== 11) {
                        this.errors.push('O CPF é obrigatório.');
                    }
                    if (!this.paciente.nascimento) {
                        this.errors.push('A data de nascimento é obrigatória.');
                    }
                    if (!this.paciente.telefone) {
                        this.errors.push('O telefone é obrigatório.');
                    }
                    if (!this.paciente.endereco) {
                        this.errors.push('O endereço é obrigatório.');
                    }
                    if (!this.paciente.alergias) {
                        this.errors.push('Preencha com suas alergias.');
                    }
                    if (!this.paciente.doador) {
                        this.errors.push('Não é doador? Se não, nos diga mesmo assim.');
                    }
                    if (!this.errors.length) {
                        this.salvarPaciente();

                        return true;
                    }
                },
                checkFormUsuario: function (e) {
                    this.errors = [];

                    if (!this.usuario.nome) {
                        this.errors.push('O nome é obrigatório.');
                    }
                    if (!this.usuario.email) {
                        this.errors.push('O e-mail é obrigatório.');
                    } else if (!this.validEmail(this.usuario.email)) {
                        this.errors.push('Utilize um e-mail válido.');
                    }
                    if (!this.usuario.username) {
                        this.errors.push('O nome de usuário é obrigatório.');
                    }
                    if (this.usuario.senha && this.usuario.senha.length < 6) {
                        this.errors.push('A senha deve ter pelo menos 6 dígitos.')
                    }
                    if (!this.usuario.senha) {
                        this.errors.push('A senha é obrigatória.');
                    } else if (this.usuario.senha !== this.usuario.confSenha) {
                        this.errors.push('As senhas não correspondem.');
                    }
                    if (this.usuario.tipo === 'medico') {
                        if (!this.usuario.crm) {
                            this.errors.push('O CRM é obrigatório.');
                        }
                        if (!this.usuario.especialidade) {
                            this.errors.push('A especialidade é obrigatória.');
                        }
                    }
                    if (!this.usuario.telefone) {
                        this.errors.push('O telefone é obrigatório.');
                    }
                    if (!this.usuario.nascimento) {
                        this.errors.push('A data de nascimento é obrigatória.');
                    }

                    if (this.usuario.tipo === 'secretario') {
                        if (!this.usuario.cpf || this.usuario.cpf.length !== 11) {
                            this.errors.push('O CPF é obrigatório e deve conter 11 dígitos.');
                        }
                    }

                    if (!this.errors.length) {
                        this.salvarUsuario();
                        return true;
                    } else {
                        console.log(this.errors);
                    }

                    //e.preventDefault();
                },
                validEmail: function (email) {
                    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    return re.test(email);
                },
                salvarUsuario: function () {
                    this.errors = [];
                    vm = this;
                    let formData = new FormData();
                    formData.append('tipo', this.usuario.tipo);
                    formData.append('username', this.usuario.username);
                    formData.append('senha', this.usuario.senha);
                    formData.append('nome', this.usuario.nome);
                    formData.append('crm', this.usuario.crm);
                    formData.append('telefone', this.usuario.telefone);
                    formData.append('especialidade', this.usuario.especialidade);
                    formData.append('email', this.usuario.email);
                    formData.append('nascimento', this.usuario.nascimento);
                    formData.append('cpf', this.usuario.cpf);
                    axios.put(this.urlUsers + "/" + this.usuario.id,
                        formData, {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        }
                    ).then(function (r) {
                        console.log(r.data);
                        alert('Usuário ' + vm.usuario.tipo + ' foi alterado com sucesso!');
                    }).catch(function (error) {
                        console.log(error);


                    });
                }
            }
        });
    </script>

</body>

</html>