<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/httpVueLoader.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/vue-session.js"></script>
    <script src="js/axios.min.js"></script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>GreyCare</title>
</head>

<body>
    <div class="container-fluid" id="app">

        <div v-if="flag" class="row no-gutter content">
            <menusidebar></menusidebar>
            <div>
                <barratitulo v-bind:nomeusuario="usuario.username"></barratitulo>
                <br>
            </div>
            <div v-show="mostraTabela && usuario.tipo === 'secretario'" style="color: white">
                <p style="padding-right: 10px; margin-bottom: 15.5px" id="cabecalho">&nbsp; Pacientes
                </p>

                <input class="input-lg col-md-7" type="text" placeholder="Pesquisar" name="nome"
                    style="width: 22; color: black; margin-left: 4%;" v-model="busca">
                <button type="button" class="btn btn-primary" value="Buscar" v-on:click="buscar()"
                    id="buscar">Buscar</button>
                <br> <br>
                <div class="col-md-9 col-sm-4 table-wrapper-scroll-y my-custom-scrollbar table-responsive">
                    <table class="table" style="margin-left: 5%; width:90%">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">CPF</th>
                                <th scope="col">Telefone</th>
                                <th scope="col">E-mail</th>
                                <th scope="col">CEP</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="paciente in pacientes">
                                <td scope="row">{{paciente.nome}}</td>
                                <td scope="row">{{paciente.cpf}}</td>
                                <td scope="row">{{paciente.telefone}}</td>
                                <td scope="row">{{paciente.email}}</td>
                                <td scope="row">{{paciente.cep}}</td>
                                <td scope="row"> <button type="button" class="btn btn-primary" id="myBtn"
                                        v-on:click="mostrarPaciente(paciente)"><i class=" fas fa-eye"></i></button>
                                </td>
                                <td scope="row"><button type="button" class="btn btn-warning" id="myBtnP">
                                        <i class="fas fa-edit" v-on:click="editarPaciente(paciente)"></i></button></a>
                                </td>
                                <td scope="row"> <button type="button" class="btn btn-danger">
                                        <i class="fas fa-trash-alt" v-on:click="apagarPaciente(paciente)"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                </div>

            </div>
            <!-- Modal do Ver Paciente -->
            <div id="myModal" class="modal">

                <!-- Conteúdo do Modal -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                        <h2>Informações de Paciente</h2>
                    </div>
                    <div class="modal-body">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>Nome: {{paciente.nome}}</td>
                                    <td>CPF: {{paciente.cpf}}</td>
                                    <td colspan="1">Data de Nascimento: {{paciente.nascimento}}</td>
                                </tr>
                                <tr>
                                    <td colspan="1">Telefone: {{paciente.telefone}}</td>
                                    <td colspan="1">Endereço: {{paciente.endereco}}</td>
                                    <td>E-mail: {{paciente.email}}</td>
                                </tr>
                                <tr>
                                    <td>Estado Civil: {{paciente.estadoCivil}}</td>
                                    <td>Alergias: {{paciente.alergias}}</td>
                                    <td> Doador de Sangue: {{paciente.doador}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Modal do alterar meus dados -->
            <div id="usuarioModal" class="modal">

                <!-- Conteúdo do Modal -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                        <h2>Editar usuário</h2>
                    </div>
                    <div class="modal-body">
                        <div class="input-group" style="color:darkgray; margin-left: 7%;">
                            <span class="input-group-addon" id="basic-addon1">Senha/Nova Senha:</span>
                            <input type="password" class="form-control" name="senha" id="senha" style="width: 60%"
                                v-model="usuario.senha">
                        </div>
                        <div class="input-group" style="color:darkgray; margin-left: 7%; margin-top: 1%;">
                            <span class="input-group-addon" id="basic-addon1">Confirmar Senha/Nova Senha:</span>
                            <input type="password" class="form-control" name="confsenha" id="confsenha"
                                style="width: 60%" v-model="usuario.confsenha">
                        </div>
                        <div class="input-group" style="color:darkgray; margin-left: 7%; margin-top: 1%;">
                            <span class="input-group-addon" id="basic-addon1">Email:</span>
                            <input type="email" class="form-control" name="email" id="email" value={{usuario.email}}
                                style="width: 60%" v-model="usuario.email">
                        </div>
                        <div class="input-group" style="color:darkgray; margin-left: 7%; margin-top: 1%;">
                            <span class="input-group-addon" id="basic-addon1">Nome Completo:</span>
                            <input type="text" class="form-control" name="nome" id="nome" value={{usuario.nome}}
                                style="width: 60%" v-model="usuario.nome">
                        </div>
                        <div class="input-group" style="color:darkgray; margin-left: 7%; margin-top: 1%;">
                            <span class="input-group-addon" id="basic-addon1">Especialidade:</span>
                            <input type="text" class="form-control" name="especialidade" id="especialidade"
                                value={{usuario.especialidade}} style="width: 60%" v-model="usuario.especialidade">
                        </div>
                        <div class="input-group " style="color:darkgray; margin-left: 7%; margin-top: 1%;">
                            <span class="input-group-addon" id="basic-addon1">Telefone:</span>
                            <input type="text" class="form-control" name="telefone" id="telefone"
                                value={{usuario.telefone}} style="width: 60%" v-model="usuario.telefone">
                        </div>
                        <br><br>
                        <div class="btn-group-horizontal text-center">
                            <button class="btn btn-primary" type="button"
                                style="width: 150px; height: 50px; font-size: 20px">Salvar Dados</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal do editar paciente-->
            <div id="pacienteModal" class="modal">

                <!-- Conteúdo do Modal -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                        <h2>Editar usuário</h2>
                    </div>
                    <div class="modal-body">

                        <div class="input-group " style="color:darkgray; margin-left: 7%;">
                            <span class="input-group-addon" id="basic-addon1">Telefone:</span>
                            <input type="text" class="form-control" name="telefone" id="telefone"
                                value={{paciente.telefone}} style="width: 60%" v-model="paciente.telefone">
                        </div>
                        <div class="input-group" style="color:darkgray; margin-left: 7%; margin-top: 1%;">
                            <span class="input-group-addon" id="basic-addon1">Estado Civil:</span>
                            <select class="form-control" name="estadoCivil" id="estadoCivil" style="width: 60%"
                                v-model="paciente.estadoCivil">
                                <option value="solteiro">Solteiro(a)</option>
                                <option value="casado">Casado(a)</option>
                            </select>
                        </div>
                        <div class="input-group" style="color:darkgray; margin-left: 7%; margin-top: 1%;">
                            <span class="input-group-addon" id="basic-addon1">Email:</span>
                            <input type="email" class="form-control" name="email" id="email" value={{paciente.email}}
                                style="width: 60%" v-model="paciente.email">
                        </div>
                        <div class="input-group" style="color:darkgray; margin-left: 7%; margin-top: 1%;">
                            <span class="input-group-addon" id="basic-addon1">Nome Completo:</span>
                            <input type="text" class="form-control" name="nome" id="nome" value={{paciente.nome}}
                                style="width: 60%" v-model="paciente.nome">
                        </div>
                        <div class="input-group" style="color:darkgray; margin-left: 7%; margin-top: 1%;">
                            <span class="input-group-addon" id="basic-addon1">Endereço:</span>
                            <input type="text" class="form-control" name="endereco" id="endereco"
                                value={{paciente.endereco}} style="width: 60%" v-model="paciente.endereco">
                        </div>
                        <div class="input-group" style="color:darkgray; margin-left: 7%; margin-top: 1%;">
                            <span class="input-group-addon" id="basic-addon1">CEP*:</span>
                            <input type="text" class="form-control" name="cep" id="cep" value={{paciente.cep}}
                                style="width: 60%;" v-model="paciente.cep">
                        </div>
                        <div class="input-group" style="color:darkgray; margin-left: 7%; margin-top: 1%;">
                            <span class="input-group-addon" id="basic-addon1">Alergias*:</span>
                            <textarea class="form-control" name="alergias" id="alergias" value={{paciente.alergias}}
                                v-model="paciente.alergias">
                            </textarea>
                        </div>

                        <br><br>
                        <div class="btn-group-horizontal text-center">
                            <button class="btn btn-primary" type="button"
                                style="width: 150px; height: 50px; font-size: 20px">Salvar Dados</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var MenuSidebar = httpVueLoader('./components/menu/menu.vue')
        var BarraTitulo = httpVueLoader('./components/barra-titulo/barra-titulo.vue')
        var app = new Vue({
            el: "#app",
            components: {
                menusidebar: MenuSidebar,
                barratitulo: BarraTitulo,

            },
            data: {
                url: "http://localhost:8080/api/pacientes",
                urlUsers: "http://localhost:8080/api/users",
                paciente: {},
                pacientes: [],
                flag: false,
                mostraTabela: false,
                mostraPaciente: false,
                usuario: {},
                flagSair: false,
                flagLogin: true,
                busca: ''
            },
            created() {
                if (!this.$session.exists()) {
                    location.href = "index.html";
                } else {
                    this.usuario = JSON.parse(this.$session.get('user'));
                    this.flag = true;
                }
                vm = this;
                axios.get(this.url).then(function (r) {
                    vm.pacientes = r.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            methods: {
                getPacientes: function () {
                    vm = this;
                    axios.get(this.url).then(function (r) {
                        vm.pacientes = r.data;
                    }).catch(function (error) {
                        console.log(error);
                    });
                },
                buscar: function () {
                    vm = this;
                    console.log(this.busca);
                    axios.get(this.url + "/search/?nome=" + this.busca).then(function (r) {
                        console.log(r.data);
                        vm.pacientes = r.data;
                    }).catch(function (error) {
                        console.log(error);
                    })
                },
                apagarPaciente: function (paciente) {
                    vm = this;
                    axios.delete('http://localhost:8080/api/pacientes/' + paciente.id)
                        .then(function (response) {
                            vm.getPacientes();
                        }).catch(function (error) {
                            console.log(error);
                        });
                },
                editarPaciente: function (paciente) {
                    location.href = 'paciente-editar.html?id=' + paciente.id;
                },
                mostrarPacientes: function () {
                    this.mostraTabela = true;
                },
                mostrarPaginaInicial: function () {
                    this.mostraTabela = false;
                },
                mostrarPaciente: function (paciente) {
                    this.paciente = paciente;
                    //Recebe o Modal
                    var modal = document.getElementById("myModal");

                    // Recebe o botão que abre o modal
                    var btn = document.getElementById("myBtn");

                    //Recebe a tag span que fecha o Modal
                    var span = document.getElementsByClassName("close")[0];

                    modal.style.display = "block";

                    //Fecha o Modal ao clicar no x
                    span.onclick = function () {
                        modal.style.display = "none";
                    }

                    //Quando clicar em qualquer lugar fora do Modal ele é fechado
                    window.onclick = function (event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                },
                mostrarUsuario: function (usuario) {
                    this.usuario = usuario;
                    //Recebe o Modal
                    var modal = document.getElementById("usuarioModal");

                    //Recebe a tag span que fecha o Modal
                    var span = document.getElementsByClassName("close")[0];

                    modal.style.display = "block";

                    //Fecha o Modal ao clicar no x
                    span.onclick = function () {
                        modal.style.display = "none";
                    }

                    //Quando clicar em qualquer lugar fora do Modal ele é fechado
                    window.onclick = function (event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                },
                editarPaciente: function (paciente) {
                    this.paciente = paciente;
                    //Recebe o Modal
                    var modal = document.getElementById("pacienteModal");

                    // Recebe o botão que abre o modal
                    var btn = document.getElementById("myBtnP");

                    //Recebe a tag span que fecha o Modal
                    var span = document.getElementsByClassName("close")[0];

                    modal.style.display = "block";

                    //Fecha o Modal ao clicar no x
                    span.onclick = function () {
                        modal.style.display = "none";
                    }

                    //Quando clicar em qualquer lugar fora do Modal ele é fechado
                    window.onclick = function (event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                }
            }
        });
    </script>

</body>

</html>