<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/vue-session.js"></script>
    <script src="js/axios.min.js"></script>
    <title>Cadastro de Paciente</title>
</head>

<body>
    <div class="container-fluid" id="minhadiv">
        <br>
        <div class="row" style="height: 2px; margin-top: -1%">
            <div class="col-xs-10 col-sm-7 col-md-9">
                <p id="cabecalho">Cadastro de Paciente</p>
            </div>
            <div class="col-xs-2 col-sm-3 col-md-3 text-right">
                <span class="content-fluid"><a href="index.html"><img src="Images/LogoGC.png"
                            style="width: 25%; margin-top: -6%"></img></a></span>
            </div>
        </div>
        <br><br>
        <div class="container-fluid" style="border-style: solid; border-color: #44a5ae; border-width: 3px" id="ver">
            <div id="app">
                <div class="alert alert-danger " role="alert" v-if="errors.length">
                    <ul>
                        <li v-for="error in errors">{{ error }}</li>
                    </ul>
                </div>
                <p style="font-size: 25px">Dados Pessoais</p>
                <div class="form-group">

                    <form @submit="checkForm" method="post">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Nome completo*:</span>
                            <input type="text" placeholder="Digite seu nome completo" class="form-control" name="nome"
                                id="nome" v-model="paciente.nome">
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">CPF*:</span>
                            <input type="text" placeholder="Use apenas números" class="form-control" name="cpf" id="cpf"
                                v-model="paciente.cpf">
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Data de nascimento:</span>
                            <input type="date" class="form-control" name="nascimento" id="nascimento"
                                v-model="paciente.nascimento">
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Telefone*:</span>
                            <input type="text" class="form-control" placeholder="Use apenas números" name="telefone"
                                id="telefone" v-model="paciente.telefone">
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Estado Civil</span>
                            <select class="form-control" name="estadoCivil" id="estadoCivil"
                                v-model="paciente.estadoCivil">
                                <option value="solteiro">Solteiro(a)</option>
                                <option value="casado">Casado(a)</option>
                            </select>
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Endereço*:</span>
                            <input type="text" class="form-control" placeholder="Digite seu endereço" name="endereco"
                                id="endereco" v-model="paciente.endereco">
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">CEP*:</span>
                            <input type="text" class="form-control" placeholder="Use apenas números" name="cep" id="cep"
                                v-model="paciente.cep">
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Email*:</span>
                            <input type="text" class="form-control" placeholder="Digite seu email" name="email"
                                id="email" v-model="paciente.email">
                        </div><br>

                        <p style="font-size: 25px">Dados Médicos</p>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Alergias*:</span>
                            <textarea class="form-control" placeholder="Digite aqui suas alergias" name="alergias"
                                id="alergias" v-model="paciente.alergias">
                            </textarea>
                        </div><br>

                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Tipo Sanguíneo:</span>
                            <select class="form-control" name="tipoSanguineo" id="tipoSanguineo"
                                v-model="paciente.tipoSanguineo">
                                <option value="1">A+</option>
                                <option value="2">A-</option>
                                <option value="3">B+</option>
                                <option value="4">B-</option>
                                <option value="5">AB+</option>
                                <option value="6">AB-</option>
                                <option value="7">O+</option>
                                <option value="8">O-</option>
                            </select>
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Doador de sangue?</span>
                            <select class="form-control" name="doador" id="doador"
                                v-model="paciente.doador">
                                <option value="sim">Sim</option>
                                <option value="nao">Não</option>
                            </select>
                        </div><br>
              
                </div>
                <h6>(*) campos obrigatórios</h6>
                <br><br>
                <div class="btn-group-horizontal text-center">
                    <a href="index.html" id="buttonLink"><button class="btn btn-danger" type="button"
                            id="cancel">Cancelar</button></a>
                    <button class="btn btn-secondary" type="button" id="in" @click="checkForm()">Salvar</button>
                </div>
                </form>
            </div>
            <br><br>
        </div>
        <br>
    </div>

    <script>
        var app = new Vue({
            el: " #app ",
            data: {
                url: "http://localhost:8080/api/pacientes ",
                idUser: 0,
                errors: [],
                paciente: {
                    nome: null,
                    cpf: null,
                    nascimento: null,
                    telefone: null,
                    estadoCivil: null,
                    endereco: null,
                    cep: null,
                    email: null,
                    alergias: null,
                    tipoSanguineo: null,
                    doador: null
                }
            },
             created() {
                 if (!this.$session.exists()) {
                     location.href = "index.html";
                 }
            },
            methods: {
                submit() {
                    let formData = new FormData();
                    formData.append('nome', this.paciente.nome);
                    formData.append('cpf', this.paciente.cpf);
                    formData.append('nascimento', this.paciente.nascimento);
                    formData.append('telefone', this.paciente.telefone);
                    formData.append('estadoCivil', this.paciente.estadoCivil);
                    formData.append('endereco', this.paciente.endereco);
                    formData.append('cep', this.paciente.cep);
                    formData.append('email', this.paciente.email);
                    formData.append('alergias', this.paciente.alergias);
                    formData.append('tipoSanguineo', this.paciente.tipoSanguineo);
                    formData.append('doador', this.paciente.doador);
                    vm = this;
                    axios.post(this.url,
                        formData, {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        }
                    ).then(function (r) {
                        console.log(r.data);
                        window.location.replace("index.html?id=" + vm.idUser);
                    }).catch(function (error) {
                        console.log(erro);
                    });
                },
                checkForm: function (e) {
                    this.errors = [];

                    if (!this.paciente.nome) {
                        this.errors.push('O nome é obrigatório.');
                    }
                    if (!this.paciente.cpf || this.paciente.cpf.length != 11) {
                        this.errors.push('O CPF é obrigatório e deve conter 11 dígitos.');
                    }
                    if (!this.paciente.nascimento) {
                        this.errors.push('A data de nascimento é obrigatória.');
                    }
                    if (!this.paciente.telefone) {
                        this.errors.push('O telefone é obrigatório.');
                    }
                    if (!this.paciente.endereco) {
                        this.errors.push('O endereço é obrigatório.');
                    }
                    if (!this.paciente.alergias) {
                        this.errors.push('Preencha com suas alergias.');
                    }
                    if (!this.paciente.doador) {
                        this.errors.push('Não é doador? Se não, nos diga mesmo assim.');
                    }
                    if (!this.errors.length) {
                        this.submit();
                        alert('Paciente ' + this.paciente.nome + ' foi cadastrado com sucesso!');
                        window.location.replace("index.html?id=" + vm.idUser);
                        return true;
                    }
                }
            }
        });
    </script>
</body>

</html>