<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/httpVueLoader.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/vue-session.js"></script>
    <script src="js/axios.min.js"></script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>GreyCare</title>
</head>

<body>
    <div class="container-fluid" id="app">
        <div v-if="flag" class="row no-gutter content">
            <menusidebar></menusidebar>
            <div>
                <barratitulo v-bind:nomeusuario="usuario.username"></barratitulo>
                <br>
            </div>
            <div class="row" v-show="mostraTabela" style="color: white">
                <p style="padding-right: 10px; margin-bottom: 15.5px" id="cabecalho">&nbsp; Pacientes
                </p>
                <div class="col-md-8">
                    <!-- <a href="paciente-inserir.html"><button class="btn btn-primary" type="button">Cadastrar
                            paciente</button></a>
                    <br><br> -->
                    <table class="table" style="margin-left: 20px;">
                        <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">CPF</th>
                                <th scope="col">Telefone</th>
                                <th scope="col">Sexo</th>
                                <th scope="col">E-mail</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="paciente in pacientes">
                                <td scope="row">{{paciente.nome}}</td>
                                <td scope="row">{{paciente.cpf}}</td>
                                <td scope="row">{{paciente.telefone}}</td>
                                <td scope="row">{{paciente.sexo}}</td>
                                <td scope="row">{{paciente.email}}</td>
                                <td scope="row"> <button type="button" class="btn btn-primary"
                                        v-on:click="mostrarPaciente(paciente)"><i class=" fas fa-eye"></i></button>
                                </td>
                                <td scope="row">
                                    <button type="button" class="btn btn-warning"><i class="fas fa-edit"></i></button>
                                </td>
                                <td scope="row"> <button type="button" class="btn btn-danger"><i
                                            class="fas fa-trash-alt"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                    &nbsp;
                    <hr>
                </div>
                <div class="col-md-8" v-show="mostraPaciente">
                    <br>
                    <div class="container-fluid">
                        <p style="padding-right: 10px; margin-bottom: 15.5px" id="cabecalho">
                            &nbsp;Informações de Paciente</p>

                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>Nome: {{paciente.nome}}</td>
                                    <td>CPF: {{paciente.cpf}}</td>
                                    <td colspan="2">Data de Nascimento: {{paciente.dataNascimento}}</td>
                                </tr>
                                <tr>
                                    <td colspan="1">Telefone: {{paciente.telefone}}</td>
                                    <td colspan="1">Endereço: {{paciente.endereco}}</td>
                                    <td>CEP: {{paciente.cep}}</td>
                                </tr>
                                <tr>
                                    <td>Sexo: {{paciente.sexo}}</td>
                                    <td>E-mail: {{paciente.email}}</td>
                                    <td>Estado Civil: {{paciente.estadoCivil}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
        var MenuSidebar = httpVueLoader('./components/menu/menu.vue')
        var BarraTitulo = httpVueLoader('./components/barra-titulo/barra-titulo.vue')
        var app = new Vue({
            el: "#app",
            components: {
                menusidebar: MenuSidebar,
                barratitulo: BarraTitulo,

            },
            data: {
                url: "http://localhost:8080/greycare-server/api/pacientes",
                urlUsers: "http://localhost:8080/greycare-server/api/users",
                paciente: {},
                pacientes: [],
                flag: false,
                mostraTabela: true,
                mostraPaciente: false,
                usuario: {},
                flagSair: false,
                flagLogin: true
            },
            created() {
                if (!this.$session.exists()) {
                    location.href = "index.html";
                } else {
                    this.usuario = JSON.parse(this.$session.get('user'));
                    this.flag = true;
                }

                vm = this;
                axios.get(this.url).then(function (r) {
                    vm.pacientes = r.data.paciente;
                    console.log(r.data.paciente);
                }).catch(function (error) {
                    console.log(error);
                });

                
            },
            methods: {
                mostrarPacientes: function () {
                    this.mostraTabela = true;
                },
                escondePacientes: function () {
                    this.mostraTabela = false;
                },
                mostrarPaciente: function (paciente) {
                    if (this.mostraPaciente == true) {
                        this.mostraPaciente = false;
                    } else {
                        this.mostraPaciente = true;
                    }
                    this.paciente = paciente;
                }
            },
        });
    </script>

</body>

</html>