<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/axios.min.js"></script>
    <title>Criar Conta</title>
</head>

<body>
    <div class="container-fluid" id="minhadiv">
        <!-- <header> -->
        <br>
        <div class="row" style="height: 2px; margin-top: -25px">
            <div class="col-sm-8 text-left">
                <span style="font-size: 32px; position: absolute"><a href="login.html"><img src="Images/LogoGC.png"
                            style="width: 70px; height: 70px; margin-left: -10px"></img></a>
                    Criar uma nova conta
                </span>
            </div>
        </div>
        <!-- </header> -->
        <div class="container-fluid"
            style="border-style: solid; border-color: #44a5ae; border-width: 3px; margin-top: 70px" id="ver">
            <p style="font-size: 25px">Dados cadastrais</p>
            <div class="alert alert-danger " role="alert" v-if="errors.length">
                <ul>
                   <li v-for="error in errors">{{ error }}</li>
                </ul>
            </div>
            <form @submit="checkForm" action="index.html" method="post">
                <div class="radio">
                    Tipo de conta*: &nbsp
                    <label><input type="radio" name="option" v-model="usuario.tipo" value="medico">Médico(a)</label>
                    &nbsp&nbsp&nbsp
                    <label><input type="radio" name="option" v-model="usuario.tipo"
                            value="secretario">Secretário(a)</label>
                    <br><br>
                    <div v-show="usuario.tipo !== ''">
                        Nome de usuário*: <input type="text" name="user" id="user" v-model="usuario.user">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br>
                        <div v-show="usuario.tipo === 'secretario'">
                        CPF*: <input type="text" name="cpf" id="cpf" v-model="usuario.cpf">
                        <br><br>
                        </div>
                        <div v-show="usuario.tipo === 'medico'" id="medico">
                        CRM*: <input type="text" name="crm" id="crm" v-model="usuario.crm">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Especialidade*: <input type="text" name="especialidade" id="esp"v-model="usuario.especialidade">
                        <br><br>
                        </div>
                        Senha*: <input type="password" name="senha" id="senha" v-model="usuario.senha">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        Confirmar senha*: <input type="password" name="confsenha" id="confsenha" v-model="usuario.confSenha">&nbsp;&nbsp;&nbsp;&nbsp;
                        Email*: <input type="email" name="email" id="email" v-model="usuario.email">

                        <br><br>
                        <p style="font-size: 25px">Dados pessoais</p>
                        Nome completo*: <input type="text" name="nome" id="nome"
                            v-model="usuario.nome">&nbsp;&nbsp;&nbsp;&nbsp;
                        Telefone*: <input type="text" name="telefone" id="telefone" v-model="usuario.telefone">&nbsp;&nbsp;&nbsp;&nbsp;<br><br>
                        Data de nascimento: <input type="date" name="nascimento" id="nascimento"
                            v-model="usuario.nascimento">&nbsp;&nbsp;&nbsp;&nbsp;
                        <br>
                    </div>
                    <h6>(*) campos obrigatórios</h6>
                    <div class="btn-group-horizontal text-center">
                        <a href="index.html" id="buttonLink"><button class="btn btn-danger" type="button"
                                id="cancel">Cancelar</button></a>
                        <button class="btn btn-secondary" type="submit" id="in" @click="submit">Salvar</button>
                    </div>
                    <br>
                </div>
            </form>
        </div>
        <br>
    </div>
    <script>
        var ver = new Vue({
            el: "#ver",
            data: {
                errors: [],
                usuario: {
                    tipo: "",
                    user: null,
                    senha: null,
                    confSenha: null,
                    nome: null,
                    crm: null,
                    telefone: null,
                    especialidade: null,
                    email: null,
                    nascimento: null,
                    cpf: null
                }
            }, methods: {
                submit() {
                        let formData = new FormData();
                        formData.append('tipo', this.tipo);
                        formData.append('user', this.user);
                        formData.append('senha', this.senha);
                        formData.append('nome', this.nome);
                        formData.append('crm', this.crm);
                        formData.append('telefone', this.telefone);
                        formData.append('especialidade', this.especialidade);
                        formData.append('email', this.email);
                        formData.append('nascimento', this.nascimento);
                        formData.append('cpf', this.cpf);
                        axios.post(this.url,
                            formData,
                            {
                                headers: {
                                    'Content-Type': 'multipart/form-data'
                                }
                            }
                        ).then(function (r) {
                            console.log(r.data);
                            window.location.replace("index.html");
                        }).catch(function (error) {
                            console.log(erro);
                        });
                    }
                checkForm: function (e) {
                    this.errors = [];

                    if (!this.usuario.nome) {
                        this.errors.push('O nome é obrigatório.');
                    }
                    if (!this.usuario.email) {
                        this.errors.push('O e-mail é obrigatório.');
                    } else if (!this.validEmail(this.usuario.email)) {
                        this.errors.push('Utilize um e-mail válido.');
                    }
                    if (!this.usuario.user) {
                        this.errors.push('O nome de usuário é obrigatório.');
                    }
                    if (this.usuario.senha && this.usuario.senha.length !== 6) {
                        this.errors.push('A senha deve ter 6 dígitos.')
                    }
                    if (!this.usuario.senha) {
                        this.errors.push('A senha é obrigatória.');
                    } else if (this.usuario.senha !== this.usuario.confSenha) {
                        this.errors.push('As senhas não correspondem.');
                    }
                    if (this.usuario.tipo === 'medico') {
                        if (!this.usuario.crm) {
                            this.errors.push('O CRM é obrigatório.');
                        }
                        if (!this.usuario.especialidade) {
                            this.errors.push('A especialidade é obrigatória.');
                        }
                    }
                    if (!this.usuario.telefone) {
                        this.errors.push('O telefone é obrigatório.');
                    }
                    if (!this.usuario.nascimento) {
                        this.errors.push('A data de nascimento é obrigatória.');
                    }

                    if (this.usuario.tipo === 'secretario') {
                        if (!this.usuario.cpf) {
                            this.errors.push('O CPF é obrigatório.');
                        }
                    }

                    if (!this.errors.length) {
                        alert('Usuário ' + this.usuario.tipo + ' foi cadastrado com sucesso!');
                        return true;
                    }

                    e.preventDefault();
                },
                validEmail: function (email) {
                    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    return re.test(email);
                }
            }
        });

    </script>
</body>

</html>