<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/axios.min.js"></script>
    <title>Criar Conta</title>
</head>

<body>
    <div class="container-fluid" id="minhadiv">
        <br>
        <div class="row" style="height: 2px; margin-top: -25px">
            <div class="col-sm-8 text-left">
                <span style="font-size: 32px; position: absolute"><a href="index.html"><img src="Images/LogoGC.png"
                            style="width: 70px; height: 70px; margin-left: -10px"></img></a>
                    Criar uma nova conta
                </span>
            </div>
        </div>
        <div class="container-fluid" style="border-style: solid; border-color: #44a5ae; border-width: 3px; margin-top: 70px" id="ver">
            <p style="font-size: 25px">Dados cadastrais</p>
            <div class="alert alert-danger " role="alert" v-if="errors.length">
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </div>
            <form @submit="checkForm" method="post">
                <div class="radio">
                    Tipo de conta*: &nbsp
                    <label><input type="radio" name="option" v-model="usuario.tipo" value="medico">Médico(a)</label> &nbsp&nbsp&nbsp
                    <label><input type="radio" name="option" v-model="usuario.tipo"
                            value="secretario">Secretário(a)</label>
                    <br><br>
                    <div v-show="usuario.tipo !== ''">
                        Nome de usuário*: <input type="text" placeholder="Digite seu nome de usuário" class="form-control" name="username" id="username" v-model="usuario.username">
                        <div v-show="usuario.tipo === 'secretario'">
                            CPF*: <input type="text" placeholder="Use apenas números" class="form-control" name="cpf" id="cpf" v-model="usuario.cpf">
                        </div>
                        <div v-show="usuario.tipo === 'medico'" id="medico">
                            CRM*: <input type="text" placeholder="Digite seu CRM" class="form-control" name="crm" id="crm" v-model="usuario.crm"> Especialidade*: <input type="text" placeholder="Digite sua especialidade" class="form-control" name="especialidade"
                                id="esp" v-model="usuario.especialidade">
                        </div>
                        Senha*: <input type="password" placeholder="Sua senha deve conter 6 caracteres" class="form-control" name="senha" id="senha" v-model="usuario.senha"> Confirmar senha*:
                        <input type="password" class="form-control" placeholder="Digite sua senha novamente" name="confsenha" id="confsenha" v-model="usuario.confSenha"> Email*: <input type="email" class="form-control" placeholder="Digite seu email" name="email"
                            id="email" v-model="usuario.email">
                        <p style="font-size: 25px">Dados pessoais</p>
                        Nome completo*: <input type="text" class="form-control" placeholder="Digite seu nome completo" ame="nome" id="nome" v-model="usuario.nome"> Telefone*: <input type="text" class="form-control" placeholder="Use apenas números" name="telefone"
                            id="telefone" v-model="usuario.telefone"> Data de nascimento:<input type="date" class="form-control" name="nascimento" id="nascimento" v-model="usuario.nascimento">
                        <br>
                    </div>
                    <h6>(*) campos obrigatórios</h6>
                    <div class="btn-group-horizontal text-center">
                        <a href="index.html" id="buttonLink"><button class="btn btn-danger" type="button"
                                id="cancel">Cancelar</button></a>
                        <button class="btn btn-secondary" type="button" id="in" @click="checkForm()">Salvar</button>
                    </div>
                    <br>
                </div>
        </div>
        </form>
    </div>
    <br>
    </div>
    <script>
        var ver = new Vue({
            el: "#ver",
            data: {
                url: "http://localhost:8080/greycare-server/api/users",
                errors: [],
                usuario: {
                    tipo: "",
                    username: null,
                    senha: null,
                    confSenha: null,
                    nome: null,
                    crm: null,
                    telefone: null,
                    especialidade: null,
                    email: null,
                    nascimento: null,
                    cpf: null
                }
            },
            methods: {
                checkForm: function(e) {
                    this.errors = [];

                    if (!this.usuario.nome) {
                        this.errors.push('O nome é obrigatório.');
                    }
                    if (!this.usuario.email) {
                        this.errors.push('O e-mail é obrigatório.');
                    } else if (!this.validEmail(this.usuario.email)) {
                        this.errors.push('Utilize um e-mail válido.');
                    }
                    if (!this.usuario.username) {
                        this.errors.push('O nome de usuário é obrigatório.');
                    }
                    if (this.usuario.senha && this.usuario.senha.length !== 6) {
                        this.errors.push('A senha deve ter 6 dígitos.')
                    }
                    if (!this.usuario.senha) {
                        this.errors.push('A senha é obrigatória.');
                    } else if (this.usuario.senha !== this.usuario.confSenha) {
                        this.errors.push('As senhas não correspondem.');
                    }
                    if (this.usuario.tipo === 'medico') {
                        if (!this.usuario.crm) {
                            this.errors.push('O CRM é obrigatório.');
                        }
                        if (!this.usuario.especialidade) {
                            this.errors.push('A especialidade é obrigatória.');
                        }
                    }
                    if (!this.usuario.telefone) {
                        this.errors.push('O telefone é obrigatório.');
                    }
                    if (!this.usuario.nascimento) {
                        this.errors.push('A data de nascimento é obrigatória.');
                    }

                    if (this.usuario.tipo === 'secretario') {
                        if (!this.usuario.cpf) {
                            this.errors.push('O CPF é obrigatório.');
                        }
                    }

                    if (!this.errors.length) {
                        this.submit();
                        alert('Usuário ' + this.usuario.tipo + ' foi cadastrado com sucesso!');
                        return true;
                    }

                    //e.preventDefault();
                },
                validEmail: function(email) {
                    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    return re.test(email);
                },
                submit() {
                    let formData = new FormData();
                    formData.append('tipo', this.usuario.tipo);
                    formData.append('username', this.usuario.username);
                    formData.append('senha', this.usuario.senha);
                    formData.append('nome', this.usuario.nome);
                    formData.append('crm', this.usuario.crm);
                    formData.append('telefone', this.usuario.telefone);
                    formData.append('especialidade', this.usuario.especialidade);
                    formData.append('email', this.usuario.email);
                    formData.append('nascimento', this.usuario.nascimento);
                    formData.append('cpf', this.usuario.cpf);
                    axios.post(this.url,
                        formData, {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        }
                    ).then(function(r) {
                        console.log(r.data);
                        window.location.replace("index.html");
                    }).catch(function(error) {
                        console.log(erro);
                    });
                }
            }
        });
    </script>
</body>

</html>